@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Variables */

$fonts: (
  "default": (
    "Poppins",
    sans-serif,
  ),
);

$colors: (
  "dark": #1d1d1d,
  "light": #000,
  "primary": #a2a2f6,
  "danger": #ff4747,
  "bg": #f4f4ff,
);

$spacings: (
  "sm": 8px,
  "md": 16px,
  "lg": 32px,
);

$radius: (
  "sm": 5px,
  "md": 10px,
  "lg": 15px,
);

$headerHeight: 100px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-size: 1em;
  font-family: map-get($fonts, "default");
}

#root {
  height: 100%;
}
